<div class="navbuttons">
  <button mat-stroked-button color="green">Start</button>
  <button mat-stroked-button color="blue">Stop</button>
  <button mat-stroked-button color="red">Clear</button>
  <button mat-stroked-button color="lightblue">Abort</button>
  <button mat-stroked-button color="cyan">Reset</button>
</div>

<div class="panel">
  <div class="griditem">BatchID</div>
  <div class="griditem">orderNr</div>
  <div class="griditem">Beer Type</div>
  <div class="griditem">Product Amount</div>
  <div class="griditem">Speed</div>
  <div class="griditem">Accepted</div>
  <div class="griditem">Defected</div>
  <div class="griditem">Temperature</div>
  <div class="griditem">Humidity</div>
  <div class="griditem">Vibration</div>
</div>