<div *ngIf="dataSource.data!=null" class="content">

    <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

    <table mat-table [dataSource]="orders">
        <!-- OrderNumber Column -->
        <ng-container matColumnDef="orderNumber">
            <th mat-header-cell *matHeaderCellDef> Order No. </th>
            <td mat-cell *matCellDef="let order"> {{order.orderNumber}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Created </th>
            <td mat-cell *matCellDef="let order">{{order.date.hour}}:{{order.date.minute}}:{{order.date.second}} |
                {{order.date.dayOfWeek | lowercase | titlecase}}
                {{order.date.dayOfMonth}}/{{order.date.monthValue}}/{{order.date.year}}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let order"> {{order.status | titlecase}} </td>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let order" class="button-cell">
                <button [routerLink]="['/erp/edit-order/' + order.orderNumber]" mat-stroked-button><i class="material-icons md-18">edit</i></button>
                <button (click)="deleteOrder(order)" mat-stroked-button><i class="material-icons md-18">delete_outline</i></button>
                <button (click)="lockOrder(order)" mat-stroked-button><i class="material-icons md-18">lock</i> Lock
                    order</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef>Loading data...</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef>You have no open orders.</mat-footer-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>

    </table>
</div>