
.report-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    

    .select-batch-card{
        flex-grow: 1;
        max-width: calc(50% - 10px);
        mat-form-field {
            width: 100%;
        }
    }

    .OEE-info{
        flex-grow: 1;
        max-width: calc(50% - 10px);
        mat-form-field {
            width: 100%;
        }
    }

    .viewReport {
        float: right;
    }



    
}