:host{
    position: relative;
    display: inline-block;
    height: 52px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9997;
    -webkit-font-smoothing: antialiased; 
}

:host(.sticky) {
    position: sticky;
}

.inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;

    .background{
        background-color: white;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &:after{
            margin-left: -490px;
            left: 50%;
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            width: 980px;
            height: 1px;
            z-index: 1;
            background-color: #ebebeb;
            margin-left: 0;
            left: 0;
            width: 100%;
        }
    }

    .content{
        margin: 0 auto;
        padding: 0 22px;
        position: relative;
        z-index: 2;
        height: 52px;
        display: flex;
        align-items: center;

        .title{
            font-size: 1.25em;
            color: black;
            font-weight: 700;
            margin-right: 16px;
        }
        
        .inner-content{
            display: flex;
            align-items: center;
            flex-grow: 1;

            .mat-tab-header, .mat-tab-nav-bar{
                border-color: #ebebeb !important;
            }
            
            .mat-tab-link{
                height: 53px;
            }
        }
    }
}