<div class="inner">
    <div class="background" color="primary"></div>
    <div class="content">
        <span class="title">{{title}}</span>

        <div class="inner-content">
            <nav mat-tab-nav-bar>
                <a mat-tab-link
                    *ngFor="let tab of tabs"
                    [routerLink]="tab.path"
                    routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive">
                    {{tab.label}}
                </a>
            </nav>
            <ng-content></ng-content>
        </div>
    </div>
</div>
