<div class="create-order-header">
  <mat-toolbar>
    <mat-toolbar-row class="create-order-row">
      <button [routerLink]="['/erp/open-orders']" color="warn" mat-stroked-button><i class="material-icons">keyboard_backspace</i>
        Cancel</button>
      <span>Create New Order</span>
      <button color="primary" mat-raised-button><i class="material-icons md-18">done</i> Create Order</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
</div>

<div class="order-details">

  <div class="base-info">

    <mat-card class="input-card">
      <mat-card-header>
        <mat-card-title>Add Beers to Order</mat-card-title>
        <mat-card-subtitle>Add a beer type and corresponding quantity</mat-card-subtitle>
      </mat-card-header>

      <form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm); newOrderItem();">
        <mat-card-content>

          <div class="form-group">
            <mat-form-field>
              <mat-select required class="form-control" id="beerName" [(ngModel)]="model.beerName" name="beerName"
                placeholder="Select beer">
                <mat-option *ngFor="let option of options" [value]="option.value">{{option.viewValue | titlecase}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input #quantityInput minlength="" class="form-control" id="quantity" [(ngModel)]="model.quantity" name="quantity"
                required type="number" matInput placeholder="Quantity">
            </mat-form-field>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button mat-stroked-button type="submit" [disabled]="!orderForm.form.valid" color="primary">Add
            To Order</button>
        </mat-card-actions>
      </form>


    </mat-card>
  </div>

  <div class="order-items">
    <mat-list>
      <h3 mat-subheader>Your Order Items</h3>
      <mat-list-item *ngFor="let orderitem of orderItems">
        <h4 mat-line>{{orderitem.beerName | titlecase}}</h4>
        <p mat-line>Quantity: {{orderitem.quantity}}</p>
        <button mat-button color="warn" (click)="deleteOrderItem(orderitem);">Delete</button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  
</div>