.content {
    padding:0 22px;
    margin-top: 22px;
}

.order-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

    .select-order-card{
        flex-grow: 1;
        max-width: calc(50% - 10px);
        mat-form-field {
            width: 100%;
        }
    }

    .order-info{
        flex-grow: 1;
        max-width: calc(50% - 10px);
        mat-form-field {
            width: 100%;
        }
    }
}







