.start-order-header{
    display: flex;
    margin-bottom: 25px;
    mat-toolbar{
        .start-order-row{
            justify-content: space-between;
        }
    }        
}

.select-order-card{
    flex-grow: 1;
    max-width: calc(50% - 10px);
    mat-form-field {
        width: 100%;
    }

}




