.create-order-header{
    margin-bottom: 25px;
    mat-toolbar{
        .create-order-row{
            justify-content: space-between;
        }
    }        
}

.mat-form-field-flex{
    margin-top: 1.25em;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .1375em 0;
}