:host{
    display: grid;
    grid-template-areas:"header" 
                        "main";
    grid-template-rows: 44px 1fr;
    min-height: 100vh;
}

main{
    grid-area: "main";
    //background-color: white;   
}

.loader{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}