:host{
    display: grid;
    grid-template-areas:"header" 
                        "main";
    grid-template-rows: 44px 1fr;
    min-height: 100vh;
}

main{
    grid-area: "main";
    background-color: black;   
}